{% extends 'base.html' %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
<br>
<h1>Home Page</h1>
<br>
<main role="main">
    <div class="jumbotron">
        <div class="col-sm-8 mx-auto">
            <h1>Welcome!</h1>
            <p>Welcome to the System Secure Blog! Here we'll be talking about network security, cybercrime, basic security practice's to ensure users safety across the world-wide web.</p>
            <p>Go visit my GitHub website <a href="https://github.com/AngelaJ34">https://www.Github.com</a> to check out other interesting projects. Other website links: <a href="https://www.linkedin.com/in/angela-jackson-4aab10182/">https://www.linkedin.com </a> Linkedin.  <a href="https://systemsecure522516928.wordpress.com">https://www.wordpress.com</a></p>
            <p></p>
            <p>
                <a class="btn btn-primary" href="/posts" role="button">Go To Posts &raquo;</a>
            </p>
        </div>
    </div>
</main>
{% endblock %}